.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block-info,
.fee-info,
.cost-info {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}

.microblock-info {
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

.hide {
  font-style: italic;
  text-align: center;
}

.block-info h2,
.fee-info h2,
.execution-info h2 {
  margin-top: 0;
}

.block-header {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.flex {
  display: flex;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.arrow {
  margin: 0 10px;
}

.block-number,
.btc-block-number {
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
}

.block-time {
  margin-top: 0px;
  color: #747478;
  margin-bottom: 20px;
}

.stacks-logo {
  display: grid;
  width: 24px;
  height: 24px;
  min-width: 18px;
  min-height: 18px;
  align-items: center;
  justify-items: center;
  background-color: rgb(85, 70, 255);
  position: relative;
  margin-right: 3px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}

.stacks-logo svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: auto;
  min-width: 11px;
  min-height: 11px;
  display: block;
  fill: none;
  color: #ffffff;
}

.bar-container {
  background-color: #e0e0e0;
  border-radius: 4px;
  height: 24px;
  margin-bottom: 10px;
}

.bar {
  background-color: #7f97f1;
  height: 100%;
  border-radius: 4px;
}

.bar-label {
  font-size: 14px;
  margin-bottom: 10px;
}

#search-form {
  display: flex;
}
#search-form button,
#search-form input {
  margin-right: 10px; /* Optional: add some spacing between the elements */
}

#block-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#block-nav a {
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #999ca3;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#block-nav a:hover {
  background-color: #7f97f1;
}

.loading-hidden {
  display: none;
}

.loading-visible {
  display: block;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

/* Optional: Style for a more visual loading indicator, e.g., a spinning wheel */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-visible::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  border: 3px solid #007bff;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

button {
  background-color: #cedafa;
  border: 1px solid #cedafa;
}

button:hover {
  background-color: #b8d4f3;
}

input {
  color: #cedafa;
}

#search-form {
  display: flex;
  align-items: center;
}

.fa-angle-double-down {
  color: #7f97f1;
}

.fa-fast-forward {
  color: #7f97f1;
}

.error {
  display: none;
  padding-left: 20px;
  color: #ff0000;
  font-style: italic;
  font-size: 80%;
}

.warning {
  display: none;
  padding-left: 20px;
  color: #ffa500;
  font-style: italic;
  font-size: 80%;
}

.info {
  display: none;
  padding-left: 20px;
  color: #747478;
  font-style: italic;
  font-size: 80%;
}
