{{ define "main" }}
<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
  <head>
    {{ block "title" . }}
    <title>
      {{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }} :: {{
      $.Site.Title }}{{ end }}
    </title>
    {{ end }} {{ partial "head.html" . }}
    <link rel="stylesheet" href="/stacks-stats/css/styles.css" />
    <script src="https://unpkg.com/dayjs@1.10.4/dayjs.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.10.4/plugin/relativeTime.js"></script>
    <script src="/stacks-stats/js/tx.js" defer></script>

    <script type="text/javascript">
      dayjs.extend(window.dayjs_plugin_relativeTime); // Enable the relativeTime plugin
    </script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div id="loading-indicator" class="loading-hidden">Loading...</div>
    <div class="title">
      <div class="block-header">
        <div id="txid">0x0</div>
        &nbsp;<a id="explorer-link" href="https://explorer.hiro.so/txid/">
          <i class="fa fa-external-link" aria-hidden="true"></i>
        </a>
      </div>
      <form id="search-form">
        <input
          type="text"
          id="search-input"
          placeholder="Enter txid"
          required
        />
        <a
          href="/stacks-stats/tx/"
          id="latest-button"
          title="Go to latest block"
        >
          <i class="fa fa-fast-forward fa-lg"></i>
        </a>
      </form>
    </div>
    <div class="block-time">
      <span id="blockTime">&infin; ago</span>
    </div>
    <ul>
      <li>
        <div class="flex">
          Block:
          <div class="stacks-logo">
            <svg viewBox="0 0 22 22" class="icon">
              <path
                d="M4.18817 0.940674L9.37024 8.99389M9.37024 8.99389H0.266602M9.37024 8.99389H12.7316"
                stroke="currentColor"
                stroke-width="2"
                stroke-linejoin="bevel"
              ></path>
              <path
                d="M17.9129 0.940674L12.7308 8.99389H21.8345"
                stroke="currentColor"
                stroke-width="2"
                stroke-linejoin="bevel"
              ></path>
              <path
                d="M4.18817 21.4407L9.37024 13.3875M9.37024 13.3875H0.266602M9.37024 13.3875H12.7316"
                stroke="currentColor"
                stroke-width="2"
                stroke-linejoin="bevel"
              ></path>
              <path
                d="M17.9129 21.4407L12.7308 13.3875H21.8345"
                stroke="currentColor"
                stroke-width="2"
                stroke-linejoin="bevel"
              ></path>
            </svg>
          </div>
          <a id="block"></a>
        </div>
      </li>
      <li>Sender: <span id="sender"></span></li>
      <li>
        <div class="flex">
          Nonce: <span id="nonce"></span>
          <div id="nonce-error" class="error">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            Error: <span id="nonce-error-text"></span>
          </div>
          <div id="nonce-warning" class="warning">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            Warning: <span id="nonce-warning-text"></span>
          </div>
          <div id="nonce-info" class="info">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            Info: <span id="nonce-info-text"></span>
          </div>
        </div>
      </li>
    </ul>

    <script type="text/javascript">
      const loadingIndicator = document.getElementById("loading-indicator");

      document.addEventListener("DOMContentLoaded", async () => {
        // Get the txid from the query parameters
        const urlParams = new URLSearchParams(window.location.search);
        const txid = urlParams.get("id");

        // Show loading indicator
        loadingIndicator.classList.remove("loading-hidden");
        loadingIndicator.classList.add("loading-visible");

        const data = await fetchData(txid);
        await displayData(data);

        // Hide loading indicator once data has been fetched
        loadingIndicator.classList.remove("loading-visible");
        loadingIndicator.classList.add("loading-hidden");
      });

      // Handle form submission
      document
        .getElementById("search-form")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          const txid = document.getElementById("search-input").value;
          window.location.href = `/stacks-stats/tx/?id=${txid}`;
        });

      document
        .getElementById("latest-button")
        .addEventListener("click", function () {
          window.location.href = "/stacks-stats/tx/";
        });
    </script>
  </body>
</html>
{{ end }}
